{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
    <p>
        efa izy ito copie ito
    </p>
{% endblock %}
{% block javascripts %}
    <script>
        
    </script>
{% endblock %}
